body{
    margin:0;
    padding:0;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
}

h1{
    font-family: 'M PLUS 1 Code', sans-serif;
    margin:0px;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;

}
.description {
    width: 80%;
    background-color: grey;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}

.description img{
    display: flex;
    border: 5px solid black;
    padding: 0.25rem;
    border-radius: 100%;
    width: 15em;
    margin: 1em 0 1em 0.5em;
}

.description ul{
    background-color: grey;
    display: flex;
    flex-direction: column;
}

.description li{
    display: flex;
    justify-content: center;
    align-content: center;
}

